body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(228, 223, 223);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(31, 30, 30);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(65, 62, 62);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: hsl(0,0%,40%);
}
button:active{
    background-color: hsl(0,0%,50%);
}
.operator-btn{
    background-color: rgb(237, 158, 11);
}
.operator-btn:hover{
    background-color: rgb(227, 174, 76);
}
.operator-btn:active{
    background-color: rgb(199, 130, 2);
}